/* Importing fonts */
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@700&family=Work+Sans:wght@300;500&display=swap");

/* Root variables for color */
:root {
  --dark: #131313;
  --primary: #42ffc0;
  --secondary: #19c96d;
}

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Body */
body {
  font-family: "Work Sans", sans-serif;
  min-width: 350px;
}

/* Hero banner */

.hero-banner {
  color: var(--dark);
  padding: 50px 0;
  text-align: center;
}
.preview-description .eyelid {
  font-weight: 300;
}

.preview-description h1 {
  margin: 10px;
  -webkit-text-fill-color: #42ffc0;
  -webkit-text-stroke: 3px #42ffc0;
  font-size: 55px;
  font-family: "Oxygen", sans-serif;
  text-transform: uppercase;
  letter-spacing: -4px;
}
/* End of Hero banner */

/* Nav */

#nav-menu {
  padding: 20px;
  background-color: var(--dark);
  position: relative;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav--desktop {
  display: none;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__link {
  color: white;
}
/* End of Nav */

/* Hamburger */

.hamburger {
  display: block;
  position: relative;
  z-index: 1000;
  cursor: pointer;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
}

.fa-bars {
  color: white;
  font-size: 25px;
}

/* Hamburger */
